<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="#"/>
    <title>demo</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">

    <!-- 引入样式 -->

    <link rel="stylesheet" href="../plugins/elementui/index.css">

    <link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">

    <link rel="stylesheet" href="../css/style.css">

</head>
<body>
<div id="demo">
<!--    <el-button @click="getData()" class="dalfBut">从文件里读取数据发送给前端并保存到mysql</el-button>-->
<!--    <br>-->


<!--    <el-button @click="save()">将数据提交给后端：</el-button>-->

<!--    <el-input v-model="formData.lng" placeholder="lng" style="width: 200px;"></el-input>-->
<!--    <el-input v-model="formData.lat" placeholder="lat" style="width: 200px;"></el-input>-->
<!--    <el-input v-model="formData.time" placeholder="time" style="width: 200px;"></el-input>-->
<!--    <br>-->
<!--    <el-button @click="selectData()" class="dalfBut">通过lat属性查询数据：</el-button>-->
<!--    <el-input v-model="pagination.select" placeholder="lat" style="width: 200px;"></el-input>-->
<!--    <br>-->
<!--    <el-button @click="getSocket()">流式接收数据</el-button>-->
<!--    <br>-->
<!--    <el-button @click="stop()" class="dalfBut">结束接收数据</el-button>-->
<!--    <br>-->
        <el-button @click="login()" class="dalfBut">登录</el-button>

    <el-input v-model="loginData.userName" placeholder="userName" style="width: 200px;"></el-input><br>
    <el-input v-model="loginData.password" placeholder="password" style="width: 200px;"></el-input><br>
    <el-input v-model="loginData.code" placeholder="验证码" style="width: 200px;"></el-input><br>

</div>

</body>
<script src="../js/vue.js"></script>

<script src="../plugins/elementui/index.js"></script>

<script type="text/javascript" src="../js/jquery.min.js"></script>

<script src="../js/axios-0.18.0.js"></script>
</html>
<!-- 引入组件库 -->


<script>
    new Vue({
        el: '#demo',
        data: {
            dataList: [],
            formData: {},//表单数据
            loginData: {
                userName: "",
                password: "",
                code: ""
            },
            pagination: { //模型数据
                lng: "",
                lat: "",
                time: "",
                show: "",
                select: "",
            },
            webSocket: null
        },
        methods: {
            getData() {
                axios.get("http://localhost/users/get").then(res => {
                    console.log(res.data.data);
                    this.dataList = res.data.data;
                    console.log("取第一个GPSPoint的lng属性:" + this.dataList[0].lng)
                })
            },
            save() {
                axios.post("http://localhost/users", this.formData).then(res => {
                    if (res.data.flag) this.$message.success(res.data.msg);
                    else this.$message.error(res.data.msg);
                })
            },
            login() {
                axios.post("http://localhost/login",this.loginData).then(res => {
                    console.log(res.data.flag)
                })
            }
        }
    })
</script>